/*  */
/* GLOBALS */
/*  */
:root {
    --primary-color: blue;
    --secondary-color: #dedcdc;
    --background-color: #ffffff;
    --border-radius: 8;
}

/*  */
/* APP LAYOUT STYLES */
/*  */
.AppLayoutContainer {
    text-align: left;
}

.AppLayoutBody {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.AppLayoutHeader {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
}

.AppLayoutMenuItems {
    flex: 1;
    min-width: 0;
    position: relative;
}

.AppLayoutContent {
    padding: 16px;
}

.AppLayoutContentDiv {
    padding: 24;
    min-height: 100;
    background: var(--background-color);
    border-radius: var(--border-radius);
}

.AppLayoutFooter {
    text-align: center;
    background-color: var(--secondary-color);
}

/*  */
/* LOGIN PAGE STYLES */
/*  */
.LoginPageBody {
    margin-top: 25vh;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.LoginPageTitle {
    text-align: center;
    margin-bottom: 24px;
}

.LoginPageButtons {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
