/*  */
/* GLOBALS */
/*  */
:root {
    --primary-color: blue;
    --secondary-color: #dedcdc;
    --background-color: #ffffff;
    --border-radius: 48;
    --chat-message-system: #e2dfdf;
    --chat-message-user: #77d3f8;
}

/*  */
/* APP LAYOUT STYLES */
/*  */
.AppLayoutContainer {
    text-align: left;
}

.AppLayoutBody {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.AppLayoutHeader {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
}

.AppLayoutMenuItems {
    flex: 1;
    min-width: 0;
    position: relative;
}

.AppLayoutContent {
    padding: 16px;
}

.AppLayoutContentDiv {
    padding: 24;
    min-height: 100;
    background: var(--background-color);
    border-radius: var(--border-radius);
}

.AppLayoutFooter {
    text-align: center;
    background-color: var(--secondary-color);
}

/*  */
/* LOGIN PAGE STYLES */
/*  */
.LoginPageBody {
    margin-top: 25vh;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.LoginPageTitle {
    text-align: center;
    margin-bottom: 24px;
}

.LoginPageButtons {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

/*  */
/* CHAT PAGE STYLES */
/*  */
.ChatPageBody {
    height: 75vh;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}

.ChatPageMessagesSection {
    height: 95%;
    overflow-y: auto;
    padding: 16px;
}

.ChatPageUserInputSection {
    margin-top: 8px;
    padding: auto;
}

.ChatMessageSYSTEM {
    float: left;
    clear: both;
    max-width: 60%;
    margin: 4px 0px;
    background-color: var(--chat-message-system);
}

.ChatMessageUSER {
    float: right;
    clear: both;
    max-width: 60%;
    margin: 4px 0px;
    background-color: var(--chat-message-user);
}

.ChatMessageTextArea {
    padding: 8px 16px;
    border-radius: var(--border-radius);
    resize: none;
}

/* */
/* SURVEY PAGE STYLES */
/*  */
.SurveyPageBody {
    margin: auto;
}

.SurveyPageInputs {
    height: 75vh;
    width: 50%;
    margin: auto;
    overflow-y: auto;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}

.SurveyPageSubmitButton {
    margin: auto;
    display: block;
    padding: 16px;
    margin: 16px;
    text-align: center;
}
